.textoTitulo{
   -fx-text-fill: #6DBD96;
   -fx-font-weight: bold; 
   -fx-background-color: grey;
}

.buttons{
    -fx-background-color: #6DBD96;
    -fx-padding: 4;
    -fx-max-width: 156px;
}

.buttons:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.botonAtrás{
    -fx-background-color: #6DBD96;
    -fx-alignment: center;
}


.idDepartamento{
    -fx-text-fill: white;
    -fx-background-color: white;
}

.nombreDepartamento{
    -fx-text-fill: white;
    -fx-background-color: white;
}
