.inicio-derecha-label {
    -fx-font-size: 30px;
}

.contenedor-general TextField.textField-error {
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-text-fill: red;
}

#pantallaRegistro {
    -fx-background-color: #6DBD96;
    -fx-text-fill: white;
}

.contenedor-general TextField {
    -fx-background-color:  grey;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-prompt-text-fill: white;
    
}

.contenedor-general{
    -fx-alignment: center;
     -fx-spacing: 20px;
}


.contenedor-general .contedor-botones {
    -fx-alignment: center; 
    -fx-spacing: 20px;
}

.contenedor-general .contedor-botones .button {
    -fx-background-color:  grey;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 40%;
    -fx-border-radius: 30%;
    -fx-text-fill: white;
}

.label_registro{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.etiqueta-aviso {
    -fx-text-fill: red;
}

