#pantallaLogin {
    -fx-spacing: 20px;
    -fx-background-color: #6DBD96;
    -fx-alignment: top-center;
}

.etiqueta-principal{
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.contenedor-titulo {
    -fx-background-color: grey;
    -fx-padding: 0px;
    -fx-alignment: top-center;
}

.btnAtras{
    -fx-background-color: grey;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 30%;
    -fx-border-radius: 30%;
    -fx-text-fill: white;
}

.contenedor-general {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.contenedor-general .button {
    -fx-background-color: grey;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 40%;
    -fx-border-radius: 30%;
    -fx-text-fill: white;
}

.contenedor-general .textField {
    -fx-border-width: 3px;
}

.contenedor-general .dark-textfield {
    -fx-background-color: darkgray;
    -fx-alignment: center;
    -fx-text-aling: center;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.contenedor-general .light-textfield {
    -fx-background-color: grey;
    -fx-text-align: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-prompt-text-fill: white;
}

#welcome{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.contedor-registro {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.contedor-registro .label {
    -fx-text-fill: white;
}

.inicio-derecha-label {
    -fx-font-size: 30px;
}

.contenedor-general TextField.textField-error {
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-text-fill: red;
}

.contenedor-general .textField-error {
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-text-fill: red;
}

#pantallaRegistro {
    -fx-background-color: #6DBD96;
    -fx-text-fill: white;
}

.contenedor-general TextField {
    -fx-background-color:  grey;
    -fx-text-fill: darkgrey;
    -fx-border-color: grey;
    -fx-prompt-text-fill: white;
    
}

.contenedor-general{
    -fx-alignment: center;
     -fx-spacing: 20px;
}


.contenedor-general .contedor-botones {
    -fx-alignment: center; 
    -fx-spacing: 20px;
}

.contenedor-general .contedor-botones .button {
    -fx-background-color:  grey;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 40%;
    -fx-border-radius: 30%;
    -fx-text-fill: white;
}

.label_registro{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.etiqueta-aviso{
    -fx-text-fill: red;
}








