.gridPanePrincipal{
    -fx-background-color: grey;
    -fx-padding: 10px;
    -fx-margin: 15px;
    -fx-spacing: 20px;
}

.pantallaInfoCliente{
    -fx-background-color: darkgrey;
}

.vBoxContacto{
    -fx-spacing: 10px;
    -fx-alignment: top-center;
    -fx-background-color: #6DBD96;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.contenedor-titulo{
    -fx-spacing: 20px;
    -fx-alignment: top-center;
    -fx-background-color: #6DBD96;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.titulo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.idCliente{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.comboboxSexo{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-min-height: 31px;
    -fx-pref-width: 150px;
}

.combo-box .list-cell,
.combo-box .list-cell:focus,
.combo-box .list-cell:empty {
    -fx-background-color: #6DBD96;
    -fx-text-fill: white;
    -fx-border-color: #6DBD96;
}

.combo-box .list-cell:hover {
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-border-color: darkgrey;
}

.combo-box .arrow-button {
    -fx-background-color: #6DBD96;
    -fx-text-fill: white;
    -fx-border-color: #6DBD96;
}

.simpleLabel{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.simpleLabelTitulo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.vBoxBottom{
    -fx-padding: 20; 
}

.buttons:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.boton-accion{
    -fx-background-color: grey;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 30%;
    -fx-border-radius: 25%;
    -fx-text-fill: white;
    -fx-margin-right: 50px;
    -fx-font-weight: bold;
}

.botonAtrás{
    -fx-background-color: #6DBD96;
}

#formularioModificacion{
    -fx-background-color: darkgrey;
    -fx-margin-top: 20px;
}