.pantallaHome{
    -fx-spacing: 60px;
    -fx-alignment: top-center;
    -fx-background-color: white;
}

.etiqueta-principal{
    -fx-text-fill: white;
}

#pantallaBotones{
    -fx-spacing: 50px;
    -fx-alignment: center;
    -fx-padding-left: 20px;
}

.simpleLabel{
    -fx-padding: 20px;
    -fx-padding-top: 20px;
}

.contenedor-titulo{
    -fx-spacing: 10px;
    -fx-alignment: top-center;
    -fx-background-color: #6DBD96;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.pantallaPrincipal{
   
   -fx-spacing: 20px;
   -fx-margin-left: 20px;
}

.boton-accion{
    -fx-text-decoration: none;
    -fx-font-family: helvetica;
    -fx-font-weight: 300;
    -fx-font-size: 25px;
    -fx-font-style: italic;
    -fx-color: #666666;
    -fx-background-color: #6DBD96;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-padding-top: 10px;
}

.boton-accion:hover{
    -fx-color: #666666;
    -fx-background-color: #666666;
    -fx-text-decoration: none;
    -fx-padding: 20px;
}

.botonAtrás{
    -fx-spacing: 20px;
    -fx-alignment: top-center;
    -fx-background-color: #6DBD96;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-text-aling: center;
}

.botonAtrás:hover{
    -fx-background-color: #6DBD96;
    -fx-text-decoration: none;
}

.calendario{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}