.contenedor-titulo{
    -fx-spacing: 20px;
    -fx-alignment: top-center;
    -fx-background-color: #6DBD96;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.titulo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.gridPaneDatos{
    -fx-padding: 20px;
}

.servicios{
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.buttons{
    -fx-background-color: white;
    -fx-padding: 4;
    -fx-max-width: 156px;
}

.buttons:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.simpleLabel{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

