.gridPaneDatos{
    -fx-alignement: center;
}

.simpleLabel{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#comboboxTipoServicios{
    -fx-text-fill: white;
}

.buttons{
    -fx-background-color: #6DBD96;
    -fx-padding: 4;
    -fx-max-width: 156px;
}

.buttons:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.botonAtrás{
    -fx-background-color: #6DBD96;
}

.tabla_servicios.id{
    -fx-text-fill: white;
    -fx-background-color: white;
}

.gridPaneDatos{
    -fx-margin-top: 20px;
   
}


