.gridPaneDatos{
    -fx-alignement: center;
}

.titulo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-aling: center;
}

.simpleLabel{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#comboboxTipoServicios{
    -fx-text-fill: white;
}

.buttons{
    -fx-background-color: grey;
    -fx-max-width: 210px;
}

.buttons:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.botonAtrás{
    -fx-background-color: #6DBD96;
}

.tabla_servicios.id{
    -fx-text-fill: white;
    -fx-background-color: white;
}

.tabla_servicios .column-header-background,
.tabla_servicios .column-header-background .nested-column-header {
    -fx-background-color: darkgrey;
    -fx-border-color: white;
    -fx-text-fill: white; 
}

.tabla_servicios .column-header-background .nested-column-header .table-column .label {
   -fx-background-color: darkgrey;
   -fx-border-color: darkgrey;
   -fx-text-fill: white;  
   -fx-alignment: center;
   -fx-padding: 0px;
   -fx-border-width: 0px;
}

.tabla_servicios .column-header-background .nested-column-header .table-column {
   -fx-background-color: darkgrey;
   -fx-border-color: darkgrey;
   -fx-border-width: 1px;
   -fx-table-cell-border-color: darkgrey;
   -fx-alignment: center;
   -fx-padding: 10px;
}

.gridPaneDatos{
    -fx-margin-top: 10px;
}

#hBoxButtons{
   -fx-font-size: 13px;
   -fx-color: #6DBD96;
   -fx-text-align: left;
   -fx-font-weight: bold;
}


